@import "../omarchy/current/theme/waybar.css";

* {
  color: @foreground;
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 16px;
}

window#waybar {
  background-color: transparent;
}

.modules-left,
.modules-right {
  background-color: alpha(@background, 0.6);
  border-radius: 12px;
  margin: 4px 4px;
  padding: 0 20px;
  color: mix(@foreground, white, 0.25);
}

.modules-center {
  background: transparent;
  margin: 0;
  padding: 0;
  color: mix(@foreground, white, 0.25);
}

#workspaces-pill {
  background-color: alpha(@background, 0.6);
  border-radius: 12px;
  margin: 4px 4px;
  padding: 0 20px;
}

#custom-layout {
  background-color: alpha(@background, 0.6);
  border-radius: 12px;
  margin: 4px 4px;
  padding: 0 16px;
  opacity: 0.6;
}

#custom-layout.float {
  opacity: 1;
}

tooltip {
  background-color: @background;
  color: @foreground;
  border-radius: 8px;
  padding: 2px;
}

#workspaces button {
  background: transparent;
  border: none;
  border-radius: 4px;
  box-shadow: none;
  color: @foreground;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 16px;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
  opacity: 0.5;
}

#workspaces button:hover {
  all: unset;
  background-color: transparent;
  color: @foreground;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 16px;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
  opacity: 0.85;
}

#workspaces button.active {
  opacity: 1;
}


#cpu,
#memory,
#battery,
#pulseaudio,
#custom-omarchy,
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}

#memory {
  margin-right: 0;
}

#tray {
  margin-right: 16px;
}

#bluetooth {
  margin-right: 17px;
}

#network {
  margin-right: 13px;
}

#custom-expand-icon {
  margin-right: 18px;
}


#custom-update {
  font-size: 10px;
}

#clock {
  margin-left: 8.75px;
}

#custom-weather {
  margin-left: 7.5px;
  margin-right: 7.5px;
}

#custom-weather.unavailable {
  min-width: 0;
  margin: 0;
  padding: 0;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator,
#custom-idle-indicator,
#custom-notification-silencing-indicator {
  min-width: 12px;
  margin-left: 5px;
  margin-right: 0;
  font-size: 10px;
  padding-bottom: 1px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

#custom-idle-indicator.active,
#custom-notification-silencing-indicator.active {
  color: #a55555;
}

#custom-voxtype {
  min-width: 12px;
  margin: 0 0 0 7.5px;
}

#custom-voxtype.recording {
  color: #a55555;
}

